

<h2>Add Teacher Information</h2>
<form action="/TeacherPage/AddTeacherdata" method="post">
    <label for="firstName">Teacher First Name:</label><br>
    <input type="text" id="firstName" name="firstName" ><br><br>

    <label for="lastName">Teacher Last Name:</label><br>
    <input type="text" id="lastName" name="lastName" ><br><br>

    <label for="employeeId">Teacher Employee ID:</label><br>
    <input type="text" id="employeeId" name="employeeId" ><br><br>

    <label for="hiredDate">Hired Date:</label><br>
    <input type="datetime-local" id="hiredDate" name="hiredDate" ><br><br>

    <label for="salary">Salary:</label><br>
    <input type="text" id="salary" name="salary" ><br><br>

    <input type="submit" value="Add Teacher">
</form>